streamlit==1.36.0
requests==2.32.3
psutil==6.0.0
pandas==2.2.2
extra-streamlit-components-better-cookie-manager
extra-streamlit-components
bcrypt
streamlit-aggrid
pytz
python-dotenv
streamlit-cookies-manager
